
@font-face {
    font-family: primary;
    src: url(../assets/fonts/LEMONMILK-Light.otf);
}

* {
    scrollbar-color: #1e1f22 transparent;
    scrollbar-width: thin;
}

body, html {
    background-color: #121315;
    color: white;
    font-family: primary;
    cursor: none;
}

.navbar {
    width: 100%;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    text-align: center;
}


.nav__item_container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size:x-large;
    align-items: center;
}

.navbar__logo {
    font-size: 1.5rem;
}

.icon {
    height: 70px;
    width: 70px;
    color: aliceblue;
    fill: white;
}
